* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: white;
}

header {
    height: 100px;
    width: 100%;
    background-color: #5E239D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0px;
    right: 0px;
    
}

.logo-box, .profile-picture {
    padding: 30px;
}

.profile-picture img {
    width: 50px;
    height: 50px;
}

main {
    position: fixed;
    top: 100px;
}

.task-name__input {
    position: fixed;
    width: 268px;
    height: 33px;
    left: 26px;
    top: 188px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
}

::placeholder {
    position: absolute;
    left: 16px;
    top: 9px;
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
}

.tab-bar {
    height: 100px;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 8px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tab-bar a {
    text-decoration: none;
}